.memberSectionContainer {
  display: flex;
  align-items: center;
  max-width: 100vw;

  .headlineContainer {
    margin: 0 120px;
  }

  .carouselContainer {
    overflow: hidden;

    .carouselCardsContainer {
      backface-visibility: hidden;
      display: flex;
      touch-action: pan-y;
      gap: 20px;
      padding: 20px;
    }
  }

  .emblaControls {
    display: flex;
    justify-content: space-between;

    button {
      outline: none;
      border: none;
      background: transparent;
    }

    .emblaButtons {
      display: flex;
      gap: 0.5rem;
    }

    .emblaDots {
      display: flex;
      gap: 12px;
      margin-right: 40px;
    }

    .emblaDot {
      box-shadow: inset 0 0 0 0.2rem gray;
      width: 16px;
      height: 16px;
      border-radius: 50%;
    }

    .emblaDotSelected {
      box-shadow: inset 0 0 0 0.2rem white;
      width: 16px;
      height: 16px;
      border-radius: 50%;
    }
  }
}
