.memberSectionContainer {
  display: flex;
  align-items: center;
  max-width: 100vw;

  .headlineContainer {
    margin: 0 120px;
  }

  .carouselContainer {
    overflow: hidden;

    .carouselCardsContainer {
      backface-visibility: hidden;
      display: flex;
      touch-action: pan-y;
      gap: 20px;
      padding: 40px;
    }
  }

  button {
    outline: none;
    border: none;
    background: transparent;
  }

  .emblaDots {
    display: flex;
    justify-content: flex-start;
    gap: 12px;
  }

  .emblaDot {
    box-shadow: inset 0 0 0 0.2rem gray;
    width: 16px;
    height: 16px;
    border-radius: 50%;
  }

  .emblaDotSelected {
    box-shadow: inset 0 0 0 0.2rem white;
    width: 16px;
    height: 16px;
    border-radius: 50%;
  }
}
