.perkCardsWrapper {
  width: 100%;
  .perkCardsInner {
    margin: clamp(5rem, 4.0747rem + 3.896vw, 8.75rem) clamp(1.5rem, -1.21439rem + 11.429vw, 12.5rem);
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
}

.perkContainerLight {
  background-color: white;
}

.perkContainerDark {
  background: #121d36;
}
