html {
  box-sizing: border-box;
  font-size: 100%;
  line-height: 24px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: inherit;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: #ffff !important;
  -webkit-text-color: #ffff !important;
  transition-delay: 9999s;
  transition-property: background-color, color;
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
    180deg,
    rgba(247, 140, 30, 1) 0%,
    rgba(247, 146, 30, 1) 50%,
    rgba(246, 132, 31, 1) 100%
  );
  border-radius: 100vw;
  height: 20rem;
}
