html {
  box-sizing: border-box;
  font-size: 100%;
  line-height: 24px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: inherit;
}

.grid {
  display: grid;

  &__1x3 {
    grid-template-columns: 1fr 1fr 1fr;
  }

  &__1x2 {
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }
}
