:root {
  --white-color: hsl(0, 0%, 100%);
  --black-color: hsl(0, 0%, 0%);
  --bg-color: hsl(240, 4%, 13%);
  --text-color: hsl(210, 40%, 98%);
  --error-light: hsla(3, 71%, 41%, 1);
  --error-light-text: hsl(0, 0%, 100%);
  --error-dark: hsla(3, 70%, 83%, 1);
  --error-dark-text: hsla(3, 71%, 22%, 1);
  --blog-card-bg: hsla(0, 0%, 85%, 1);
  --member-card-bg: hsl(0, 0%, 20%);
  --primary-btn-color: hsl(10, 94%, 63%);
  --primary-btn-hover-color: hsl(23, 93%, 59%);
  --primary-btn-active-color: hsl(32, 93%, 54%);
  --secondary-btn-hover-color: hsla(222, 50%, 14%, 21%);
  --input-border-color: hsl(241, 91%, 45%);
  --input-text-color: hsl(240, 0.7%, 70%);

  //Light Mode
  --primary-light-mode: hsl(0, 0%, 100%);
  --secondary-light-mode: hsl(31, 94%, 86%);
  --tertiary-light-mode: hsl(222, 50%, 14%);
  --text-light-mode: hsl(215, 19%, 35%);
  --elevated-elements-light-mode: hsl(210, 40%, 98%);
  --titles-light-mode: hsl(222, 50%, 14%);
  --tertiary-button-light-mode: hsl(0, 0%, 0%);
  --color-main-button-light-mode: hsl(10, 94%, 63%);
  --color-error-state-light-mode: hsl(0, 75%, 42%);

  //Dark Mode
  --primary-dark-mode: hsl(220, 50%, 14%);
  --secondary-dark-mode: hsl(220, 20%, 44%);
  --tertiary-dark-mode: hsl(223, 50%, 5%);
  --text-dark-mode: hsl(0, 0%, 83%);
  --elevated-elements-dark-mode: hsl(222, 29%, 30%);
  --titles-tertiary-button-dark-mode: hsl(0, 0%, 100%);
  --main-button-dark-mode: hsl(10, 94%, 63%);
  --error-state-dark-mode: hsl(0, 75%, 42%);
}
