:root {
  --bg-color: #202023;
  --text-color: hsl(0, 0%, 100%);
  --error-light: hsla(3, 71%, 41%, 1);
  --error-light-text: hsl(0, 0%, 100%);
  --error-dark: hsla(3, 70%, 83%, 1);
  --error-dark-text: hsla(3, 71%, 22%, 1);
}
