:root {
  --white-color: hsl(0, 0%, 100%);
  --black-color: hsl(0, 0%, 0%);
  --bg-color: hsl(223, 50%, 5%);
  --text-color: hsl(210, 40%, 98%);
  --error-light: hsl(3, 71%, 41%);
  --error-light-text: hsl(0, 0%, 100%);
  --error-dark: hsla(3, 70%, 83%, 1);
  --error-dark-text: hsl(3, 71%, 22%);
  --error-color: hsl(0, 75%, 42%);
  --valid-color: hsl(122, 100%, 35%);
  --blog-card-bg: hsla(0, 0%, 85%, 1);
  --member-card-bg: hsl(0, 0%, 20%);
  --primary-btn-color: hsl(10, 94%, 63%);
  --primary-btn-hover-color: hsl(23, 93%, 59%);
  --primary-btn-active-color: hsl(32, 93%, 54%);
  --secondary-btn-hover-color: hsla(222, 50%, 14%, 21%);
  --input-border-color: hsl(241, 91%, 45%);
  --input-text-color: hsl(240, 0.7%, 70%);
  --titles-color: hsl(222, 50%, 14%);
  --contact-section-bg-color: hsl(222, 50%, 14%);

  $clr-primary-light-mode: hsl(0, 0%, 100%);
  $clr-secondary-light-mode: hsl(31, 94%, 86%);
  $clr-tertiary-light-mode: hsl(222, 50%, 14%);
  $clr-text-light-mode: hsl(215, 19%, 35%);
  $clr-elevated-elements-light-mode: hsl(210, 40%, 98%);
  $clr-titles-light-mode: hsl(222, 50%, 14%);
  $clr-tertiary-button-light-mode: hsl(0, 0%, 0%);

  $clr-primary-dark-mode: #121d36;
  $clr-secondary-dark-mode: hsl(222, 19%, 44%);
  $clr-tertiary-dark-mode: hsl(222, 52%, 5%);
  $clr-text-dark-mode: hsl(0, 0%, 83%);
  $clr-elevated-elements-dark-mode: hsl(221, 29%, 30%);
  $clr-titles-tertiary-button-dark-mode: hsl(0, 0%, 100%);

  $clr-main-button: hsl(10, 94%, 63%);
  $clr-error-state: hsl(0, 75%, 42%);

  @mixin apply-color-scheme($mode: 'light') {
    $primary: if($mode == 'light', $clr-primary-light-mode, $clr-primary-dark-mode);
    $secondary: if($mode == 'light', $clr-secondary-light-mode, $clr-secondary-dark-mode);
    $tertiary: if($mode == 'light', $clr-tertiary-light-mode, $clr-tertiary-dark-mode);
    $text: if($mode == 'light', $clr-text-light-mode, $clr-text-dark-mode);
    $elevated-elements: if(
      $mode == 'light',
      $clr-elevated-elements-light-mode,
      $clr-elevated-elements-dark-mode
    );
    $titles: if($mode == 'light', $clr-titles-light-mode, $clr-titles-tertiary-button-dark-mode);
    $tertiary-button: if(
      $mode == 'light',
      $clr-tertiary-button-light-mode,
      $clr-titles-tertiary-button-dark-mode
    );
    $main-button: $clr-main-button;
    $error-state: $clr-error-state;

    color: $text;
    background-color: $primary;
    border-color: $secondary;

    .button {
      background-color: $main-button;
    }
    .error {
      color: $error-state;
    }
  }

  body.light-mode {
    @include apply-color-scheme('light');
  }

  body.dark-mode {
    @include apply-color-scheme('dark');
  }
}
