:root {
  --fs-100: clamp(0.84rem, calc(0.94rem + -0.13vw), 0.91rem);
  --fs-200: clamp(1.09rem, calc(1.08rem + 0.06vw), 1.13rem);
  --fs-300: clamp(1.31rem, calc(1.24rem + 0.37vw), 1.5rem);
  --fs-400: clamp(1.58rem, calc(1.41rem + 0.83vw), 2rem);
  --fs-500: clamp(1.89rem, calc(1.59rem + 1.51vw), 2.67rem);
  --fs-600: clamp(2.27rem, calc(1.77rem + 2.51vw), 3.55rem);
  --fs-700: clamp(2.72rem, calc(1.94rem + 3.93vw), 4.74rem);
  --fs-800: clamp(3.27rem, calc(2.08rem + 5.95vw), 6.31rem);
}

p {
  margin: 0px;
  padding: 0px;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
  margin: 0px;
  padding: 0px;
}

.display-l {
  font-size: 57px;
  line-height: 64px;
  letter-spacing: -0.25px;
}

.display-m {
  font-size: 45px;
  line-height: 52px;
}

.display-s {
  font-size: 36px;
  line-height: 44px;
}

.headline-l {
  font-size: 32px;
  line-height: 40px;
}

.headline-m {
  font-size: 28px;
  line-height: 36px;
}

.headline-s {
  font-size: 24px;
  line-height: 32px;
}

.title-l {
  font-size: 22px;
  line-height: 28px;
}

.title-m {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
}

.title-s,
.label-l {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
}

.label-m {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.5px;
}

.label-m {
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.5px;
}

.body-m {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
}

.body-s {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
}
