.field {
  position: relative;

  input {
    all: unset;
    border: 1px solid white;
    padding: 0 1rem;
    height: 2.5rem;
  }
  .error {
    position: absolute;
    left: 0;
    top: 100%;
    color: red;
  }
}
