.inputContainer {
  margin-bottom: 2.5rem;

  .label {
    font-size: var(--fs-title);
    line-height: var(--lh-title);
  }

  .inputWrapper {
    display: flex;
    position: relative;
    margin-top: 1rem;

    .input {
      width: 100%;
      min-height: 3rem;
      padding: 0.875rem 1rem 0.875rem 1rem;
      font-size: var(--fs-placeholder);
      line-height: var(--fs-placeholder);
      border: 1px solid #94a3b8;
      border-radius: 8px;
      background: #f8fafc;
      transition: border-color 0.3s ease;
      font-family: inherit;

      &::placeholder {
        background: transparent !important;
        color: #737373;
        font-size: var(--fs-placeholder);
        font-weight: 300;
        line-height: var(--fs-placeholder);
      }

      &:focus {
        outline: none;
      }
    }

    .newsletterInput {
      border: 1px solid white;
      background-color: transparent;
      color: white !important;
      height: 3.375rem;
      -webkit-text-fill-color: #ffff !important;
      -webkit-text-color: #ffff !important;

      &::placeholder {
        background-color: transparent !important;
        color: var(--white-color) !important;
        font-size: var(--fs-placeholder);
        font-weight: 300;
        line-height: var(--fs-placeholder);
      }
    }

    .lightNewsletterInput {
      -webkit-box-shadow: inset 0 0 0 30px #121d36 !important;
      background-clip: content-box !important;
    }

    .darkNewsletterInput {
      -webkit-box-shadow: inset 0 0 0 30px #070b15 !important;
      background-clip: content-box !important;
    }

    .errorIcon,
    .validIcon {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0.625rem;
      font-size: 1.2rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .errorIcon {
      color: var(--error-color);
      width: 1.25rem;
      height: 1.25rem;
    }

    .validIcon {
      width: 1.25rem;
      height: 1.25rem;
      color: var(--valid-color);
    }

    .error {
      border-color: var(--error-color);
    }

    .valid {
      border-color: var(--valid-color);
    }
  }

  .errorMessage {
    position: absolute;
    color: var(--error-color);
    margin-top: 0.25rem;
    margin-bottom: -3.125rem;
    font-size: 0.75rem;
    font-weight: 300;
    line-height: var(--lh-tag);
    text-align: left;
  }

  .footerErrorMessage {
    color: var(--error-footer-color);
  }
}
