.inputContainer {
  margin-bottom: 17px;
  position: relative;
}
.inputWrapper {
  width: 380px;
  height: 54px;
  gap: 20px 0;
}

.input {
  background-color: #bbbbbb;
  border: 1px solid var(--text-color);
  border-radius: 10px;
  color: var(--text-color);
  padding: 20px;
  margin-bottom: 5px;
  margin-top: 9px;
  height: 54px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: var(--text-color);
  }
}

.errorIcon,
.validIcon {
  position: relative;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  z-index: 1;
  transform: translateY(-180%);
  margin-left: calc(100% - 19px - 20px);
}

.errorIcon {
  color: #ba1a1a;
  margin-left: calc(100% - 19px - 20px);
}

.validIcon {
  color: #00b107;
  margin-left: calc(100% - 19px - 20px);
}

.error {
  border: 2px solid #ba1a1a;
}
.valid {
  border-color: green;
}

.errorMessage {
  position: absolute;
  font-size: 12px;
  font-weight: 300;
  line-height: 14.63px;
  text-align: left;
  color: #ba1a1a;
  top: 115%;
}
