.mainContainer {
  margin: 50px 0;

  .inputWrapper {
    margin: 50px 0;
    display: flex;
    width: 100%;

    .rightContainer {
      display: flex;
      gap: 20px;
    }
  }
}

.errorMessage {
  color: red;
  margin-bottom: 1rem;
  padding: 0.5rem;
  background-color: #ffe6e6;
  border: 1px solid red;
  border-radius: 4px;
}
