.faqSection {
  width: 120rem;
  padding: 8.75rem 12.5rem 8.75rem 12.5rem;
  gap: 0.5rem;

  @media (max-width: 430px) {
    width: 26.875rem;
    padding: 5rem 1.5rem 5rem 1.5rem;
    gap: 2rem;
  }
}

.faqLight {
  background-color: var(--white-color);
}

.faqDark {
  background-color: rgba(18, 29, 54, 1);

  @media (max-width: 430px) {
    background-color: hsla(220, 20%, 43%, 1);
  }
}

.faqContainer {
  display: flex;
  flex-direction: column;
  gap: 1.839rem;
  width: 95rem;

  @media (max-width: 430px) {
    width: 17.625rem;
  }

  > ul {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 0;
    list-style-type: none;

    > li > div {
      cursor: pointer;
      user-select: none;

      > div:first-child {
        padding: 0 1rem 0.5rem 0.3rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      > div:nth-child(2) {
        overflow: hidden;

        > div {
          padding: 0.5rem 0 0 0.3rem;
        }
      }
    }
  }
}

.faqText {
  height: 10rem;
  gap: 1.5rem;

  @media (max-width: 430px) {
    width: 23.875rem;
    gap: 1.25rem;
    justify-content: center;
    align-items: center;
  }
}

.faqTitle {
  size: 2.5rem;
  line-height: 3.75rem;
  margin-bottom: 1.5rem;
  height: 3.75rem;

  @media (max-width: 430px) {
    width: 19.875rem;
    size: 1.75rem;
    line-height: 2.133rem;
  }
}

.faqLightTitle {
  color: var(--white-color);
}

.faqDarkTitle {
  color: (18, 29, 54, 1);
}

.faqDesc {
  width: 35.75rem;
  gap: 0.75rem;
  size: 1.5rem;
  letter-spacing: 0.006rem;

  @media (max-width: 430px) {
    size: 1rem;
    line-height: 1.5rem;
    width: 19.875rem;
  }
}

.faqDarkDesc {
  color: hsla(215, 19%, 35%, 1);
}

.faqLightDesc {
  color: hsla(0, 0%, 83%, 1);
}

.faqLiElement {
  border-radius: 1.25rem;
  padding: 2rem 1.5rem 2rem 1.5rem;
  box-shadow: 0rem 0.375rem rgba(0, 0, 0, 0.15);
  gap: 3.44rem;

  @media (max-width: 430px) {
    width: 23.875rem;
    padding: 2rem 1.5rem 2rem 1.5rem;
    gap: 3.44rem;
  }
}

.faqLiLight {
  background-color: #f8fafc;
}

.faqLiDark {
  background-color: hsla(222, 29%, 30%, 1);
}

.faqStext {
  size: 1.25rem;
  line-height: 1.875rem;
  font-weight: 500;

  @media (max-width: 430px) {
    size: 1rem;
    line-height: 1.5rem;
  }
}

.faqTextLight {
  color: hsla(0, 0%, 100%, 1);
}

.faqTextDark {
  color: hsla(222, 50%, 14%, 1);
}
