.faqContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 4rem;
  max-width: 1320px;
  padding: 1rem 0;
  margin-top: 7rem;

  > h1 {
    max-width: 20ch;
  }

  > ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0;
    list-style-type: none;

    > li {
      cursor: pointer;
      user-select: none;

      > div:first-child {
        padding: 0 1rem 0.5rem 0.3rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid var(--text-color);
      }

      > div:nth-child(2) {
        overflow: hidden;

        > div {
          padding: 0.5rem 0 0 0.3rem;
        }
      }
    }
  }
}
