@import "/app/styles/globals/variables";

.missionVisionMain {
  @media (max-width: 1025px) {
    position: relative;
  }

  @media (min-width: 1026px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15rem;
    width: 100%;
    height: 100vh;
    min-height: 37.5rem !important;
  }
}

.missionMainWhite {
  background: $clr-secondary-light-mode;
}

.missionMainDark {
  background: $clr-primary-dark-mode;
}

.mvImgContainer {
  position: relative;
  height: 100%;

  @media (max-width: 1025px) {
    display: none;
  }
}

.mvLeftSide {
  flex: 0 0 65%;
  object-fit: cover;

  @media (max-width: 1025px) {
    display: none;
  }
}

.mvRightSide {
  flex: 0 0 25%;
  object-fit: cover;

  @media (max-width: 1025px) {
    display: none;
  }
}

.mvImgContainer,
.mvLeftSide,
.mvRightSide,
.imgMission {
  @media (max-width: 1025px) {
    display: none;
  }
}

.imgMission {
  object-fit: cover;

  @media (max-width: 1025px) {
    display: none;
  }
}

.missionTitle {
  border: none;
  margin: clamp(5rem, 4.0747rem + 3.896vw, 8.75rem) clamp(0.5rem, 1rem + 11.429vw, 12.5rem);

  @media (min-width: 1026px) {
    padding: 0 4rem 2rem 4rem;
    margin: 0;
    border-radius: 0.5rem;
    border: 0.063rem solid rgba(148, 163, 184, 1);
    position: absolute;
    left: 50%;
    width: 45%;
    max-width: 100%;
  }

  h2 {
    font-size: 1.87rem;
    font-weight: 700;
    line-height: var(--lh-body);
    padding-block: 2rem;

    @media (max-width: 1025px) {
      line-height: 2.285rem;
      letter-spacing: -0.015625rem;

      &:nth-child(2) {
        padding-bottom: 2rem;
        padding-top: 0;
      }

      &:nth-last-child(2) {
        padding-block: 2rem;
      }
    }

    @media (min-width: 767px) and (max-width: 1025px) {
      &:nth-of-type(2) {
        margin-top: 5rem;
      }
    }
  }

  p {
    font-style: normal;
    font-size: var(--fs-body);
    font-weight: 400;
    line-height: var(--lh-body);
    letter-spacing: 0.00625rem;

    @media (max-width: 1600px) {
      font-size: 1rem;
      line-height: 1.5;
    }
  }
}

.missionTitleWhite {
  background: $clr-secondary-light-mode;

  h2 {
    color: $clr-title-dark-mode;
  }

  p {
    color: $clr-text-light-mode;
  }
}

.missionTitleDark {
  background: $clr-titles-light-mode;

  @media (max-width: 1025px) {
    background: none;
  }

  h2,
  p {
    color: $clr-primary-light-mode;
  }

  // p {
  //   color: hsl(0, 0%, 100%);
  // }
}

.missionPattern {
  left: 100%;
  object-fit: cover;
  padding-block: 2.5rem;

  @media (max-width: 1025px) {
    display: none;
  }
}

.mobilePattern {
  position: absolute;
  left: -2.1875rem;

  @media (min-width: 767px) and (max-width: 1025px) {
    &:nth-of-type(2) {
      margin-top: 5rem;
    }
  }
  @media (min-width: 1025px) {
    display: none;
  }
}

.patternHorizontally {
  @media (min-width: 1026px) {
    display: none;
  }

  @media (max-width: 1025px) {
    bottom: 0;
    right: 0;
    position: absolute;
  }
}
