@use '../../../app/styles/utils/' as u;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.missionVisionMain {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100vh;
  margin-top: 50px;
}

.missionMainWhite {
  background: rgba(235, 237, 241, 1);

  @include u.breakpoint(small) {
    background: none;
  }
}

.missionMainDark {
  background: rgba(89, 104, 133, 1);

  @include u.breakpoint(small) {
    background: none;
  }
}

.mvInner {
  display: flex;
  justify-content: space-between;
  // flex-direction: column;
  // margin: clamp(5rem, 4.0747rem + 3.896vw, 8.75rem) clamp(0rem, -3.08441rem + 12.987vw, 12.5rem);
  max-width: 100%;
  position: relative;
}

.mvImgContainer {
  display: flex;
  flex-direction: row;
  // margin-inline: 1.5rem;
  width: 100%;
}

.imgMission {
  // width: fit-content;
  // max-width: 80%;
  // width: 100%;
  // max-width: 1239px;
  // height: auto;
  // margin-top: 3.5rem;

  @include u.breakpoint(small) {
    background: none;
  }
}

.missionTitle {
  // width: 854px;
  // height: 811px;
  // top: 110px;
  // left: 944px;
  padding: 0 64px 42px 64px;
  gap: 24px;
  border-radius: 8px;
  border: 1px solid rgba(148, 163, 184, 1);
  position: absolute;
  left: 45%;
  width: fit-content;
  max-width: 858px;
  // height: 70%;

  // @media (max-width: 430px) {
  //   width: 100%;
  //   height: 846px;
  //   gap: 20px;
  //   top: -44px;
  //   padding: 0;
  //   left: 0;
  //   border: none;
  //   border-radius: 0;
  // }

  // @media (min-width: 431px) and (max-width: 1024px) {
  //   width: 100%;
  //   height: 100vh;
  //   top: auto;
  //   left: auto;
  //   border-radius: 8px;
  //   border: 1px;
  //   border: none;
  // }

  h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
    margin: 30px 0;

    @include u.breakpoint(small) {
      width: 318px;
      height: 37px;
      font-size: 30px;
      font-weight: 700;
      line-height: 36.57px;
      letter-spacing: -0.25px;
      text-align: left;
    }
  }

  p {
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.1px;

    @include u.breakpoint(small) {
      width: 318px;
      height: 288px;
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
    }
  }
}

.missionTitle h2,
.missionTitle p {
  font-family: 'Montserrat';
  text-align: left;
}

.missionTitleWhite {
  background: var(--Elevated-elements, rgba(248, 250, 252, 1));

  h2 {
    color: rgba(18, 29, 54, 1) !important;
  }

  p {
    color: rgba(71, 85, 105, 1) !important;
  }
}

.missionTitleDark {
  background: var(--Elevated-elements, rgba(54, 67, 98, 1));

  h2 {
    color: rgba(255, 255, 255, 1) !important;
    background: var(--Elevated-elements, rgba(54, 67, 98, 1));
  }

  p {
    color: rgba(255, 255, 255, 1) !important;
    background: var(--Elevated-elements, rgba(54, 67, 98, 1));
  }
}

.cardMission {
  @include u.breakpoint(small) {
    display: flex;
    width: 390px;
    height: 345px;
    gap: 20px;

    &:nth-child(2) {
      margin-top: 50px;
    }
  }
  @include u.breakpoint(medium) {
    display: flex;
    width: 660px;
    height: 425px;
    gap: 20px;

    &:nth-child(2) {
      margin-top: 60px;
    }
  }
}

.mvRightSide {
  display: flex;
  justify-content: end;
  align-items: center;
}

.missionPattern {
  // width: 457px;
  // height: 895px;
  // top: 72px;
  left: 100%;

  @media (max-width: 1025px) {
    display: none;
  }
}

.mobilePattern {
  display: block;
  width: 108.74px;
  height: 108.74px;

  @media (min-width: 1025px) {
    display: none;
  }
}

.patternHorizontally {
  @include u.breakpoint(large) {
    display: none;
  }

  @include u.breakpoint(small) {
    width: 108px;
    height: 175px;
    left: 429px;
    position: sticky;
  }

  @include u.breakpoint(medium) {
    display: block;
    width: 108px;
    height: 69px;
    left: 570px;
    position: sticky;
  }
}
