@use '../../../app/styles/utils/' as u;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.missionVisionMain {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15rem; //look into the gap
  width: 100%;
  height: 100vh;
  margin-top: 50px;
  min-height: 600px !important;
}

.missionMainWhite {
  background: rgba(235, 237, 241, 1);

  // @include u.breakpoint(small) {
  //   background: none;
  // }
}

.missionMainDark {
  background: rgba(89, 104, 133, 1);

  // @include u.breakpoint(small) {
  //   background: none;
  // }
}

.mvInner {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  position: relative;
}

.mvImgContainer {
  position: relative;
  height: 100%;
}

.mvLeftSide {
  flex: 0 0 65%;
  object-fit: 'cover';
}

.mvRightSide {
  flex: 0 0 35%;
}

.imgMission {
  object-fit: cover;

  @media (max-width: 1025px) {
    display: none;
  }

  @media (max-width: 425px) {
    background: none;
  }
}

.missionTitle {
  padding: 0 64px 42px 64px;
  gap: 24px;
  border-radius: 8px;
  border: 1px solid rgba(148, 163, 184, 1);
  position: absolute;
  left: 45%;
  width: 600px;
  height: auto;
  min-height: 400px;

  @media (max-width: 430px) {
    width: 100%;
    height: 846px;
    gap: 20px;
    // top: -44px;
    padding-inline: 3rem;
    left: 0;
    border: none;
    border-radius: 0;
    // position: relative !important;
    // height: auto !important;
  }

  @media (min-width: 431px) and (max-width: 1024px) {
    width: 100%;
    height: 100vh;
    top: auto;
    left: auto;
    border-radius: 8px;
    border: 1px;
    border: none;
  }

  h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
    margin: 30px 0;

    @media (max-width: 425px) {
      height: 37px;
      font-size: 30px;
      font-weight: 700;
      line-height: 36.57px;
      letter-spacing: -0.25px;
      text-align: left;
    }
  }

  p {
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.1px;
    height: fit-content !important;

    @media (max-width: 425px) {
      height: 288px;
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
    }
  }
}

.missionTitle h2,
.missionTitle p {
  font-family: 'Montserrat';
  text-align: left;
}

.missionTitleWhite {
  background: var(--Elevated-elements, rgba(248, 250, 252, 1));

  h2 {
    color: rgba(18, 29, 54, 1) !important;
  }

  p {
    color: rgba(71, 85, 105, 1) !important;
  }
}

.missionTitleDark {
  background: var(--Elevated-elements, rgba(54, 67, 98, 1));

  h2 {
    color: rgba(255, 255, 255, 1) !important;
    background: var(--Elevated-elements, rgba(54, 67, 98, 1));
  }

  p {
    color: rgba(255, 255, 255, 1) !important;
    background: var(--Elevated-elements, rgba(54, 67, 98, 1));
  }
}

.cardMission {
  height: 100% !important;
  width: 100% !important;

  @media (max-width: 425px) {
    width: 390px;
    height: 345px;
    gap: 20px;

    &:nth-child(5) {
      margin-top: 50px;
    }
  }

  @media (min-width: 431px) and (max-width: 1024px) {
    width: 660px;
    height: 425px;
    gap: 20px;

    &:nth-child(2) {
      margin-top: 60px;
    }
  }
}

.missionPattern {
  left: 100%;
  object-fit: 'cover';
  padding-block: 1.2rem;

  @media (max-width: 1025px) {
    display: none;
  }
}

.mobilePattern {
  display: block;
  width: 108.74px;
  height: 108.74px;
  position: absolute;
  left: -35px;

  &:nth-child(1) {
    top: 0;
  }

  @media (min-width: 1025px) {
    display: none;
  }
}

.patternHorizontally {
  @media (min-width: 1025px) {
    display: none;
  }

  @media (max-width: 430px) {
    width: 108px;
    bottom: 0%;
    left: 80%;
    position: relative;
  }

  @media (min-width: 431px) and (max-width: 1024px) {
    display: block;
    width: 108px;
    height: 69px;
    left: 570px;
    position: sticky;
  }
}
