@use '../../../app/styles/utils' as u;

.projectSection {
  width: 100%;
  padding: 3rem 0;
}

.projectCardsWrapper {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.carouselContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.projectContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;

  @include u.breakpoint-down(small) {
    flex-wrap: nowrap;
    gap: 20px;
  }
}

.lightPrSection {
  background-color: var(--white-color);
}

.darkPrSection {
  background-color: var(--clr-tertiary-light-mode);
}

.projectText {
  width: 100%;
  margin-bottom: 3rem;
  padding-left: 10px;

  @include u.breakpoint-down(small) {
    margin-bottom: 2rem;
  }
}

.projectTitle {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3.75rem;
  margin-bottom: 2rem;

  @include u.breakpoint-down(small) {
    font-size: 1.5rem;
  }
}

.darkProjectTitle {
  color: var(--clr-tertiary-light-mode);
}

.lightProjectTitle {
  color: var(--white-color);
}

.projectDesc {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.375rem;
  width: 60%;
  @include u.breakpoint-down(large) {
    width: 80%;
  }
  @include u.breakpoint-down(medium) {
    width: 90%;
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

.darkProjectDesc {
  color: var(--clr-text-light-mode);
}

.lightProjectDesc {
  color: var(--clr-text-dark-mode);
}
