.mainContainer {
  display: flex;
  justify-content: space-between;
  margin: 120px 0px;

  .layoutContainer {
    position: sticky;
    top: 20px;
    border-left: 1px solid var(--text-color);
    padding: 20px 80px;
    width: 35vw;
    height: 720px;

    .suggestArticleContainer {
      margin-top: 75px;
      margin-bottom: 320px;
    }

    .filterContainer {
      margin-bottom: 320px;

      .filterHeading {
        margin-bottom: 16px;
      }
    }
  }
}
