@mixin respond-to($size) {
  @if $size == 'small' {
    @media (max-width: 768px) {
      @content;
    }
  } @else if $size == 'medium' {
    @media (min-width: 769px) and (max-width: 1024px) {
      @content;
    }
  } @else if $size == 'large' {
    @media (min-width: 1025px) and (max-width: 1440px) {
      @content;
    }
  } @else if $size == 'extra-large' {
    @media (min-width: 1441px) {
      @content;
    }
  }
}

.navigationLogo {
  margin-left: 50px;
  color: var(--text-color);
  width: 6.3em;
  height: 1.22em;
  top: 1.56em;
  left: 2.36em;
}

.menuElements {
  align-items: center;
  display: flex;
}

.menuElementsNav {
  margin-right: 70px;
  display: flex;
  list-style: none;
  padding: 0px;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttonsContent {
  margin-right: 50px;
  display: flex;
  align-items: center;
}

.largeNavbar {
  padding: 40px;
  padding-inline: 0;
}

@include respond-to('small') {
  .NavigationLogo {
    margin-left: 0.25em;
    width: 4em;
    height: 1em;
    top: 1.5em;
    left: 1.5em;
  }

  .menuElements {
    margin-left: 2em;
    left: 5em;
  }
}

@include respond-to('medium') {
  .NavigationLogo {
    margin-left: 0.55em;
    width: 6.3em;
    height: 1.22em;
    top: 1.86em;
    left: 2.36em;
  }

  .menuElements {
    margin-left: 4.16em;
    left: 10.41em;
  }
}

@include respond-to('large') {
  .NavigationLogo {
    margin-left: 0.55em;
    width: 6.3em;
    height: 1.22em;
    top: 1.86em;
    left: 2.36em;
  }

  .menuElements {
    margin-left: 4.16em;
    left: 10.41em;
  }
}

@include respond-to('extra-large') {
  .NavigationLogo {
    margin-left: 0.55em;
    width: 6.3em;
    height: 1.22em;
    top: 1.86em;
    left: 2.36em;
  }

  .menuElements {
    margin-left: 4.16em;
    left: 10.41em;
  }
}
.animate {
  transition: transform 0.2s ease;
  display: flex;
  align-items: center;
}

.moveRight {
  transform: translateX(18px);
}

.themeBackgroundSize {
  width: 40px;
  height: 25px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  margin-right: 3rem;
  margin-left: 1rem;
}
.themeBackgroundDark {
  background-color: #ffff;
}
.themeBackgroundLight {
  background-color: #2a2a2d;
}
.themeLight {
  background-color: #ffff !important;
  color: var(--bg-color) !important;

  .menuElements {
    color: var(--bg-color) !important;
  }
}
.themeDark {
  background-color: var(--bg-color) !important;
  color: var(--text-color) !important;

  .menuElements {
    color: var(--text-color) !important;
  }
}
.theme_icon {
  margin-top: 4px;
}
