.customCursor {
  position: fixed;
  width: 15px;
  height: 15px;
  background-color: #f78b25;
  border-radius: 50%;
  z-index: 9999;
  pointer-events: none;
  mix-blend-mode: difference;
  transition:
    width 0.5s ease,
    height 0.5s ease;
}

.largeCursor {
  mix-blend-mode: exclusion;
  width: 70px;
  height: 70px;
  transition:
    width 0.5s ease,
    height 0.5s ease;
}

.cursorContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}



.cursorArrow {
  align-items: center;
  content:none;
  font-weight:0;
  font-size: 56px;
  margin-top: 23px;
}
