.cardContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--blog-card-bg);
  width: 357px;
  height: 361px;
  padding: 60px 30px 30px 30px;
}

.divider {
  width: 280px;
  height: 1px;
  margin: 0 auto;
  background-color: var(--bg-color);
}

.cardTitle {
  color: var(--bg-color);
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 12px;
  text-transform: uppercase;
}

.bodyText {
  color: var(--bg-color);
}

.blogCardBtn {
  display: flex;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid var(--black-color);
  padding: 0px 10px;
  margin-top: 12px;
}

.arrowIcon {
  font-size: 23px;
  color: var(--black-color);
}
