.newsletterContainer {
  background-color: var(--bg-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 72px;
  padding-bottom: 150px;
  padding-top: 150px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 500;

  & p {
    display: inline;
    margin: 0;
  }

  .contentContainer {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
  }

  .newsletterText {
    display: flex;
    align-items: center;
    padding-right: 0px;
  }

  .ellipse {
    width: 37px;
    height: 37px;
    border-radius: 50%;
    background: linear-gradient(var(--primary-btn-color), var(--error-light));
    margin-left: 5px;
    vertical-align: top;
  }

  .ellipsePosition {
    margin-top: 15px;
    margin-left: 20px;
  }

  .newsletterSection {
    flex: 2;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    padding-left: 20px;

    & p {
      padding-bottom: 1.3em;
    }
  }

  .newsletterSection input {
    background-color: var(--bg-color);
    border: 1px solid var(--text-color);
    padding: 1em;
    padding-right: 50px;
    margin-left: 70px;
    cursor: text;
    width: 320px;
    max-width: 1000px;
    color: var(--text-color);
  }

  .newsletterSection input::placeholder {
    color: var(--text-color);
  }

  .newsletterSection button {
    background-color: var(--text-color);
    color: var(--bg-color);
    border: none;
    cursor: pointer;
    height: 2.25em;
    width: 3.5em;
    height: 44px;
  }
}
