.scrollToTopBtn {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: none;
  outline: none;
  background-color: #fff;
  color: #000;
  cursor: pointer;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.arrowIcon {
  font-size: 40px;
}
