@use '../../../app/styles/utils' as u;

.lightContactSection {
  background: var(--white-color);
}

.darkContactSection {
  background: var(--section-bg-color);
}

.contactSection {
  position: relative;
  width: 100%;

  @include u.breakpoint(small) {
  }

  .contact {
    display: flex;
    flex-direction: column;
    margin: clamp(5rem, 4.0747rem + 3.896vw, 8.75rem) clamp(1.5rem, -1.21439rem + 11.429vw, 12.5rem);
    gap: clamp(0rem, -2.46763rem + 10.39vw, 10rem);
    max-width: 100%;

    @include u.breakpoint(small) {
      margin-left: 36px;
      margin-right: 36px;
    }
    @include u.breakpoint(medium) {
      margin-left: 36px;
      margin-right: 36px;
    }
    @include u.breakpoint(large) {
      text-align: left;
      margin-left: 200px;
      margin-right: 200px;
      align-items: flex-start;
      flex-direction: row;
    }
    
    .contactLeftContainer {
      z-index: 10;

      @include u.breakpoint(large) {
        width: 50%;
      }

      @include u.breakpoint(xlarge) {
        width: 40%;
      }

      .leftTextContainer {
        text-align: center;
        margin-bottom: 2.5rem;

        @include u.breakpoint(large) {
          text-align: left;
          margin-bottom: 4rem;
        }

        .leftText {
          font-size: var(--fs-body);
          line-height: var(--lh-body);
          margin-top: 1.5rem;
        }
      }
    }

    .contactRightContainer {
      z-index: 100;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: clamp(3.5rem, 6.06263rem + -10.79vw, 0rem);
      margin-bottom: clamp(22.5rem, 25.86228rem + -12.658vw, 18.75rem);
      gap: 1.5rem;

      @include u.breakpoint(large) {
        width: 60%;
        padding: 0;
        margin-top: 0;
        gap: 4rem;
      }
    }
  }

  .contactImage {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    max-width: 1256px;
    height: auto;

    @include u.breakpoint(large) {
      right: -3.125rem;
    }
  }

  .mobile {
    display: block;

    @include u.breakpoint(xsmall) {
      display: none;
    }
  }

  .desktop {
    display: none;

    @include u.breakpoint(xsmall) {
      display: block;
    }
  }
}
