@use '../../../app/styles/utils' as u;

.lightContactSection {
  background: var(--white-color);
}

.darkContactSection {
  background: var(--contact-section-bg-color);
}

.contactSection {
  position: relative;
  // background-image: url('../../../public/contact-section-image-mobile.png');
  // background-position: bottom right;
  // background-size: contain;
  // background-repeat: no-repeat;
  width: 100%;
  // height: auto;

  @include u.breakpoint(small) {
    // background-image: url('../../../public/contact-section-image-desktop.png');
  }

  .contact {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin: 0;
    gap: clamp(0rem, -2.46763rem + 10.39vw, 10rem);
    max-width: 100%;

    @include u.breakpoint(large) {
      margin: clamp(5rem, 4.0747rem + 3.896vw, 8.75rem)
        clamp(1.5rem, -1.21439rem + 11.429vw, 12.5rem);
      margin-right: 0;
      align-items: flex-start;
      flex-direction: row;
    }

    .contactLeftContainer {
      z-index: 100;
      margin-inline: 1.5rem;
      margin-bottom: clamp(25.875rem, 33.23069rem + -27.692vw, 0rem);

      @include u.breakpoint(large) {
        width: 50%;
        margin-inline: 0;
        margin-bottom: 0;
      }

      @include u.breakpoint(xlarge) {
        width: 33.5%;
      }

      .leftTextContainer {
        margin-bottom: 2.5rem;

        @include u.breakpoint(large) {
          margin-bottom: 4rem;
        }

        .leftText {
          font-size: var(--fs-body);
          line-height: var(--lh-body);
          margin-top: 1.5rem;
        }
      }
    }

    .contactRightContainer {
      z-index: 100;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin-top: 5rem;
      margin-bottom: 2.25rem;
      padding: 1.5rem 0;
      gap: 1.5rem;

      @include u.breakpoint(large) {
        width: 66.5%;
        padding: 0;
        margin-top: 0;
        gap: 4rem;
      }
    }
  }

  .contactImage {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    max-width: 1256px;
    height: auto;

    @include u.breakpoint(large) {
      right: -50px;
    }
  }

  .mobile {
    display: block;

    @include u.breakpoint(xsmall) {
      display: none;
    }
  }

  .desktop {
    display: none;

    @include u.breakpoint(xsmall) {
      display: block;
    }
  }
}
