@use '../../../app/styles/utils' as u;

.lightContactSection {
  background: var(--white-color);
}

.darkContactSection {
  background: var(--contact-section-bg-color);
}

.contactSection {
  background-image: url('../../../public/contact-section-image-mobile.png');
  background-repeat: no-repeat;
  background-position: bottom right;
  width: 100%;

  @include u.breakpoint(small) {
    background-image: url('../../../public/contact-section-image-desktop.png');
  }

  .contact {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin: 0;
    gap: clamp(0rem, -2.46763rem + 10.39vw, 10rem);
    max-width: 100%;

    @include u.breakpoint(large) {
      margin-top: clamp(0rem, -3.08441rem + 12.987vw, 12.5rem);
      margin-bottom: clamp(0rem, -3.08441rem + 12.987vw, 12.5rem);
      margin-left: clamp(0rem, -2.48758rem + 9.365vw, 8.75rem);
      margin-right: 0;
      align-items: flex-start;
      flex-direction: row;
    }

    .contactLeftContainer {
      margin-inline: 1.5rem;
      margin-bottom: clamp(25.875rem, 33.23069rem + -27.692vw, 0rem);

      @include u.breakpoint(large) {
        width: 33.5%;
        margin-inline: 0;
        margin-bottom: 0;
      }

      .leftTextContainer {
        margin-bottom: 2.5rem;

        @include u.breakpoint(large) {
          margin-bottom: 4rem;
        }

        .leftText {
          font-size: var(--fs-body);
          line-height: var(--lh-body);
          margin-top: 1.5rem;
        }
      }
    }

    .contactRightContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin-top: 5rem;
      margin-bottom: 2.25rem;
      padding: 1.5rem 0;
      gap: 1.5rem;

      @include u.breakpoint(large) {
        width: 63%;
        padding: 0;
        margin-top: 0;
        gap: 4rem;
      }
    }
  }
}
