$table-height: 400px;

.tableWrapper {
  border-radius: 8px;
  margin-block: 1.5rem;
  border: 1px solid #94a3b8;
  background-color: #f8fafc;
  color: black;
  height: $table-height;
  overflow-y: auto;

  .reusableTable {
    width: 100%;
    border-collapse: collapse;
    text-align: left;

    th {
      padding: 15px;
      white-space: nowrap;
      text-align: left;
      overflow: hidden;
    }

    td {
      height: 60px;
      padding: 15px;
      overflow: hidden;
      white-space: nowrap;
    }

    th:first-child,
    td:first-child {
      width: 60%;
    }

    th:last-child,
    td:last-child {
      width: auto;
      text-align: right;
    }
  }
}

.noDataMessage {
  height: $table-height;
  background-color: var(--primary-btn-active-color);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 50px;
  border: 1px solid #94a3b8;
  box-sizing: border-box;
  padding: 20px;
}
