.tableHead {
  background-color: #ec4f1e;
}

.tableHeaderCell {
  padding: 10px 10px 10px 0;
  text-align: left;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
}

.sortArrow {
  margin-left: 5px;
  font-size: 12px;
}
