.rowComponent {
  border-bottom: 1px solid rgb(175, 175, 175);
  height: 40px;
  max-height: 40px;

  td {
    padding: 15px;
    vertical-align: middle;
    //overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .actionButtons {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
  }

  td:last-child {
    padding-right: 15px;
    text-align: left;
  }

  .editTags {
    padding-left: 20px;
  }
}
