.tableHead {
  background-color: var(--primary-btn-active-color);
}

.tableHeaderCell {
  width: 100%;
  padding: 15px 25px;
  text-align: left;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
  white-space: nowrap;
}

.sortArrow {
  margin-left: 5px;
  font-size: 12px;
}
