@use '../../../app/styles/utils' as u;

.projectCard {
  width: 33.333%;
  border-radius: 12px;
  height: 100%;
  padding: 10px;

  @include u.breakpoint-down(medium) {
    width: 50%;
  }
  @include u.breakpoint-down(small) {
    max-width: 100%;
  }
}

.lightPrSection {
  background-color: var(--white-color);
}
.darkPrSection {
  background-color: var(--clr-tertiary-light-mode);
}

.projectText {
  width: 48.75rem;
  gap: 1.5rem;
}

.projectTitle {
  font-weight: 700;
  size: 2.5rem;
  line-height: 3.75rem;
}
.darkProjectTitle {
  color: var(--clr-tertiary-light-mode);
}

.lightProjectTitle {
  color: var(--white-color);
}
.projectDesc {
  gap: 0.75rem;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.375rem;
}
.darkProjectDesc {
  color: var(--clr-text-light-mode);
}

.lightProjectDesc {
  color: var(--clr-text-dark-mode);
}

.cardInnerContent {
  box-shadow: 0px 5px 16px 0px #00000026;
}

.lightProjectCard {
  background-color: var(--text-color);
  box-shadow: hsla(0, 0%, 0%, 0.15);
}
.darkProjectCard {
  background-color: var(--clr-elevated-elements-dark-mode);
}
.imageWrapper {
  width: 100%;
  position: relative;
  height: 185px;

  @include u.breakpoint-down(small) {
    height: 150px;
  }

  img {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }
}

.cardCont {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 16px;
}

.cardTitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 10px;
}

.cardDesc {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.15px;
  margin-bottom: 10px;
}

.cardTags {
  display: flex;
  gap: 8px;
}
.cardTag {
  border-radius: 20px;
  border: 1px solid hsla(215, 20%, 65%, 1);
  padding: 8px 16px 8px 16px;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.5px;
}

.cardNum {
  padding: 8px 3px 8px 3px;
  font-weight: 400;
  font-size: 14px;
  color: hsla(0, 0%, 56%, 1);
  letter-spacing: 0.25px;
}
.cardParticipants {
  display: flex;
  justify-content: space-between;
}

.cardParticipants button {
  text-decoration: underline;
}
