@use '../../../app/styles/utils' as u;

.projectCard {
  width: calc(100% / 3 - calc(1rem / 3 * 2));
  height: auto;
  padding: 10px;

  @include u.breakpoint-down(large) {
    width: calc(100% / 2 - calc(1rem / 2 * 1));
  }
  @include u.breakpoint-down(medium) {
    flex: 0 0 auto;
    min-width: 300px;
  }
}

.cardInner {
  box-shadow: 0px 5px 16px 0px #00000026;
  border-radius: 12px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cardContent {
  display: flex;

  flex-direction: column;
  justify-content: space-between;
  padding: 24px;

  @include u.breakpoint-down(small) {
    padding: 16px;
  }
}

.imageWrapper {
  width: 100%;
  position: relative;
  height: 185px;

  @include u.breakpoint-down(small) {
    height: 150px;
  }

  img {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }
}

.darkProjectCard {
  background: #364362;
}

.cardTitle {
  font-weight: 500;
  font-size: 20px;
  line-height: var(--lh-title);
  margin-bottom: 10px;
}

.cardDesc {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.15px;
  margin-bottom: 10px;
  @include u.breakpoint-down(small) {
    font-size: 16px;
  }
}

.cardTags {
  display: flex;
  gap: 8px;

  .cardTag {
    border-radius: 20px;
    border: 1px solid hsla(215, 20%, 65%, 1);
    padding: 8px 16px 8px 16px;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.5px;
  }
  .cardTagHidden {
    padding: 8px 3px 8px 3px;
    font-weight: 400;
    font-size: 14px;
    color: hsla(0, 0%, 56%, 1);
    letter-spacing: 0.25px;
  }
}
.cardParticipants {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}
