.hero {
  display: flex;
  gap: 150px;
}

.heroLeftContainer {
  width: 717px;
}

.heroTitle {
  text-transform: uppercase;
  line-height: 61px;
}

.heroHeadline {
  line-height: 45px;
  font-weight: 500;
  margin-bottom: 30px;
}

.heroText {
  width: 667px;
} 

.animate {
  transition: transform 1.5s ease; 
}

.moveRight {
  transform: translateX(30px); 
}
.BKG{
  width: 50px;
  height:25px;
  border-radius: 100px;
  
}
.BKGLight{  background-color: #423F3F;
}
.BKGDark{
background-color: #FFFF;

}