@use '../../../app/styles/utils' as u;

.hero {
  display: flex;
  flex-direction: column;
  margin: 80px 0px;
  text-align: center;
  max-width: 90%;
  @include u.breakpoint(medium) {
    flex-direction: row;
    margin: 140px 200px;
    gap: 52px;
    text-align: left;
  }

  .heroLeftContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: 24px;

    @include u.breakpoint(medium) {
      align-items: flex-start;
      width: 848px;
    }

    .heroTitle {
      font-size: 28px;
      line-height: 32px;

      @include u.breakpoint(medium) {
        font-size: 56px;
        line-height: 72px;
      }
    }

    .heroText {
      font-size: 16px;
      line-height: 24px;
      margin-top: 20px;
      margin-bottom: 32px;
      @include u.breakpoint(medium) {
        font-size: 24px;
        line-height: 38px;
        letter-spacing: 0.1px;
        margin-top: 32px;
        margin-bottom: 84px;
      }
    }

    .heroImage {
      max-width: 100%;
      margin-top: 44px;
    }
  }
}
