.hero {
  display: flex;
  // flex-direction: column;
  // text-align: center;
  margin-top: 140px;
  margin-bottom: 140px;
  gap: 52px;

  .heroLeftContainer {
    width: 848px;

    // .heroTitle {
    //   // font-size: 28px;
    //   line-height: 32px;
    // }

    .heroText {
      margin-top: 32px;
      margin-bottom: 84px;
      // font-size: 16px;
      // line-height: 24px;
    }
  }
}
