.memberCardContainer {
  flex: 0 0 calc(100% / 4);
  min-width: 357px;
  height: 517px;
  background: #1e1e1e;
  padding: 28px;

  .memberCardHeaderContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 28px;

    .firstLater {
      transform: translateY(-10px);
    }
  }

  .memberName {
    margin-bottom: 12px;
  }

  .skillContainer,
  .projectsContainer {
    margin-top: 28px;

    .tableContainer {
      margin-top: 12px;

      div {
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 0.5px solid #423f3f;
        border-right: 0.5px solid #423f3f;

        &:first-child,
        &:nth-child(3n + 1) {
          border-left: 0.5px solid #423f3f;
        }

        &:nth-last-child(-n + 3) {
          border-bottom: 0.5px solid #423f3f;
        }
      }
    }
  }
}
