@use '../../../app/styles/utils/breakpoints' as u;

.loginPage {
  width: 100%;

  .container {
    display: flex;
    margin: clamp(5rem, 4.0747rem + 3.896vw, 8.75rem) clamp(1.5rem, -1.21439rem + 11.429vw, 12.5rem);
    justify-content: center;
    @include u.breakpoint-down(large) {
      flex-direction: column;
    }
  }
}
.lightLoginPage {
  background: hsla(210, 40%, 98%, 1);
}

.darkLoginPage {
  background: var(--section-bg-color);
}
.welcomeContainer {
  width: 40%;
  @include u.breakpoint-down(xlarge) {
    width: 45%;
  }
  @include u.breakpoint-down(large) {
    width: 100%;
    text-align: center;
  }

  .imageContainer {
    width: 100%;
    overflow: hidden;
    height: 650px;

    position: relative;
    @include u.breakpoint-down(large) {
      display: none;
    }

    .dashboard {
      top: 18px;
      left: 20px;
      position: relative;
      width: 603px;
      border-radius: 21px;
      height: 513px;
    }
    .pattern {
      width: 222px;
      height: 336px;
      gap: 0px;
      position: absolute;
    }
  }

  .welcomeBackTitle {
    gap: 36px;
    font-size: var(--fs-h1);
    font-weight: 700;
    line-height: 70px;
    letter-spacing: -0.25px;
    text-align: left;
    width: 80%;
    margin-bottom: 30px;

    @include u.breakpoint-down(large) {
      text-align: center;
      width: 100%;
    }

    @include u.breakpoint-down(medium) {
      line-height: 34.13px;
    }
  }

  .loginSubtitleInfo {
    width: 80%;
    margin-bottom: 50px;
    font-size: var(--fs-body);
    font-weight: 400;
    line-height: var(--lh-body);

    @include u.breakpoint-down(large) {
      width: 100%;
      text-align: center;
    }

    @include u.breakpoint-down(medium) {
      font-weight: 500;
    }
  }
}
.welcomeBackTitleLight {
  color: var(--titles-light-mode);
}

.loginSubtitleInfoLight {
  color: var(--text-light-mode);
}
.welcomeBackTitleDark,
.loginSubtitleInfoDark {
  color: var(--text-dark-mode);
}
