.buttonMorph {
  background-color: #f7f7ff;
  min-width: 2rem;
  height: 2rem;
  border-radius: 0.5rem;
  position: relative;

  // @media (max-width: 430px) {
  //   width: 2.75rem;
  //   height: 2.75rem;
  //   border-radius: 0.5rem;
  // }

  .default {
    position: absolute;
    transition: 300ms;
    background-color: #f9674a;
    border-radius: 0.2rem;
  }

  .default:first-child {
    top: 25%;
    bottom: 25%;
    width: 10%;
    left: 45%;
  }

  .default:last-child {
    left: 25%;
    right: 25%;
    height: 10%;
    top: 45%;
  }

  .active {
    transform: rotate(90deg);
    transform-origin: center;
  }

  .active:last-child {
    left: 50%;
    right: 50%;
  }
}