.container {
  max-width: 800px;
  margin-bottom: 150px;
  h1 {
    font-size: 20px;
  }
}

.itemList {
  list-style-type: none;
  padding: 0;

  .item {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
  }
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.selectPagination {
  padding: 500px;
}
