@use '../../../app/styles/utils' as u;

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 0.75rem;
  border: none;
  border-radius: 8px;
  padding: 1rem 1.5rem;
  font-size: var(--fs-button);
  font-weight: 700;
  line-height: var(--lh-button);
  font-family: inherit;
  cursor: pointer;

  @include u.breakpoint(medium) {
    width: auto;
  }
}

.linkButton {
  display: flex;
  gap: 0.375rem;
  text-decoration: none;
  font-size: var(--fs-body);
  line-height: var(--lh-card-text);
  font-weight: 500;
  font-family: inherit;
  transition: color 0.3s ease-in-out;

  @include u.breakpoint(medium) {
    gap: 0.5rem;
  }
}

.primaryButton {
  font-size: var(--fs-title);
  background-color: var(--primary-btn-color);
  color: var(--text-color);
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: var(--primary-btn-hover-color);
  }

  &:active {
    background-color: var(--primary-btn-active-color);
  }

  &:focus {
    outline: none;
  }

  &.contactButton {
    @include u.breakpoint(small) {
      width: 7.6875rem;
    }
  }
}

.secondaryButton {
  background-color: transparent;
  color: var(--text-color);
  border: 1px solid var(--primary-btn-color);
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: var(--secondary-btn-hover-color);
  }

  &:active {
    background-color: var(--primary-btn-color);
  }

  &:focus {
    outline: none;
  }
}

.tertiaryButton {
  font-size: var(--fs-tag);
  font-weight: 700;
  line-height: var(--lh-body);
  text-decoration: underline;
}

.motionButton {
  font-size: var(--fs-body);
  font-weight: 700;
  line-height: var(--fs-body);

  @include u.breakpoint(medium) {
    font-weight: 500;
  }
}

.buttonWithIcon {
  padding: 1rem 1.5rem 1rem 1.5rem;
}

.iconContainer {
  display: flex;
  align-items: center;
}

.rotateIcon {
  transition: transform 0.3s ease-in-out;
}

.linkButton:hover .rotateIcon {
  transform: rotate(45deg);
}

.moveToRightIcon {
  transition: transform 0.3s ease-in-out;
}

.primaryButton:hover .moveToRightIcon {
  background-color: red important;
  transform: translateX(4px);
}

.orangeLink {
  color: var(--primary-btn-color);

  &:hover {
    color: var(--primary-btn-hover-color);
  }

  &:active {
    color: var(--primary-btn-active-color);
  }
}

.navigationButton {
  padding: 0.5rem 1rem 0.5rem 1rem;
  font-size: var(--fs-tag);
  font-weight: 600;
  max-width: 70%;
  height: 33px;
  line-height: 17.07px;
  text-align: center;

  @include u.breakpoint(xsmall) {
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    font-size: var(--fs-button);
    max-width: 100%;
    height: 48px;
  }

  @include u.breakpoint-down(small) {
    display: none;
  }
}
