.primaryButton {
  display: flex;
  gap: 8px;
  background-color: var(--primary-btn-color);
  color: var(--text-color);
  border-radius: 8px;
  padding: 8px 24px 8px 24px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: var(--primary-btn-hover-color);
  }

  &:active {
    background-color: var(--primary-btn-active-color);
  }

  &:focus {
    outline: none;
  }
}

.secondaryButton {
  display: flex;
  gap: 8px;
  background-color: transparent;
  color: var(--text-color);
  border: 1px solid var(--primary-btn-color);
  border-radius: 8px;
  padding: 8px 24px 8px 24px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: var(--secondary-btn-hover-color);
  }

  &:active {
    background-color: var(--primary-btn-color);
  }

  &:focus {
    outline: none;
  }
}

.buttonWithIcon {
  padding: 8px 20px 8px 24px;
}
