@import '../../../app/styles/utils/breakpoints.scss';

.controls {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;

  @include breakpoint(small) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.searchInputWrapper {
  width: 100%;
  @include breakpoint(small) {
    width: 300px;
  }
}
