@use '../../../app/styles/utils/breakpoints' as u;

.signUpSection {
  position: relative;
  width: 100%;
  background: var(--white-color);

  @include u.breakpoint-down(small) {
    width: 100vw;
    display: flex;
    flex-direction: column;
  }

  @include u.breakpoint-down(large) {
    width: 100vw;
    display: flex;
    flex-direction: column;
  }

  .signUp {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: clamp(5rem, 4.0747rem + 3.896vw, 8.75rem) clamp(1.5rem, -1.21439rem + 11.429vw, 12.5rem)
      0;
    max-width: 100%;

    @include u.breakpoint-down(small) {
      flex-direction: column;
      margin-top: clamp(4rem, 6.06263rem + -10.79vw, 0rem);
    }

    @include u.breakpoint-down(large) {
      flex-direction: column;
      align-items: center;
    }

    .titleWrapper {
      display: flex;
      flex-direction: column;
      max-width: 32.75rem;
      gap: 2.25rem;

      @include u.breakpoint-down(small) {
        text-align: center;
        gap: 0.75rem;
      }

      @include u.breakpoint-down(large) {
        text-align: center;
        gap: 0.75rem;
        width: 100%;
      }

      h1 {
        @include u.breakpoint-down(small) {
          text-align: center;
          font-weight: 700;
        }

        @include u.breakpoint-down(large) {
          text-align: center;
        }
      }

      p {
        font-size: var(--fs-body);
        font-weight: 400;
        line-height: var(--lh-body);
        letter-spacing: 0.10000000149011612px;
        text-align: left;

        @include u.breakpoint-down(small) {
          text-align: center;
          font-weight: 500;
        }

        @include u.breakpoint-down(large) {
          text-align: center;
        }
      }
    }

    .dashboardPreview {
      width: 540px;
      height: 513px;
      margin-top: clamp(8.5rem, 6.06263rem + -10.79vw, 0rem);
      border-radius: 21px 0px 0px 21px;
      background: var(--text-light-mode);
      margin-left: 20px;
      z-index: 2;
      position: relative;

      @include u.breakpoint-down(small) {
        display: none;
      }

      @include u.breakpoint-down(large) {
        display: none;
      }
    }

    .signUpRightContainer {
      z-index: 100;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: clamp(11.5rem, 6.06263rem + -10.79vw, 0rem);
      margin-bottom: 0;
      box-shadow: 0px 25px 40px -12px hsla(0, 0%, 0%, 0.2);

      @include u.breakpoint-down(small) {
        box-shadow: none;
        margin-top: clamp(4rem, 6.06263rem + -10.79vw, 0rem);
      }

      @include u.breakpoint-down(large) {
        box-shadow: none;
        margin-top: clamp(4rem, 6.06263rem + -10.79vw, 0rem);
      }
    }
  }

  .pattern {
    position: absolute;
    top: 31.25rem;
    left: 20rem;
    z-index: 1;

    @include u.breakpoint-down(small) {
      display: none;
    }

    @include u.breakpoint(xxlarge) {
      top: 31.25rem;
      left: 40rem;
    }

    @include u.breakpoint-down(xlarge) {
      top: 29.25rem;
      left: 5rem;
    }

    @include u.breakpoint-down(large) {
      display: none;
    }
  }
}

.darkSignUpSection {
  background: var(--section-bg-color);
}
