.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  background-color: #202023;
  color: #fff;
}

.leftSection {
  flex: 1;
  font-size: 36px;
  margin-left: 60px;
  margin-bottom: 130px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  width: 227px;
  height: 44px;
  top: 6294px;
  left: 81px;
}

.contactSection p:first-child {
  flex: 2;
  margin-left: 350px;
  font-size: 24px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  width: 96px;
  height: 20px;
  top: 6306px;
  left: 536px;
}

.contactSection p:last-child {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin-left: 350px;
  margin-bottom: 110px;
  font-weight: 500;
  text-decoration: underline;
}

.socialMediaSection {
  flex: 2;
  margin-left: 150px;
  font-size: 24px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
}

.socialMediaSection p {
  font-size: 24px;
  margin-bottom: 8px;
  padding-bottom: 20px;
}

.newsletterSection {
  flex: 2;
  margin-left: -100px;
  font-size: 24px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
}

.socialMediaSection a {
  display: block;
  margin-bottom: 8px;
  color: #fff;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.newsletterSection input {
  background-color: #202023;
  border: 1px solid #ffff;
  padding: 8px;
  margin-right: 8px;
  cursor: text;
  width: 252px;
  height: 38px;
}

.newsletterSection input::placeholder {
  color: #ffffff;
}

.newsletterSection button {
  padding: 9px;
  background-color: #fff;
  color: #333;
  border: none;
  cursor: pointer;
  margin-left: -9px;
  margin-bottom: 120px;
  height: 38px;
  width: 42px;
}

/* Mobile responsive styles */
@media screen and (max-width: 768px) {
  .footer {
    padding: 10px;
  }

  .leftSection {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .contactSection p:first-child,
  .contactSection p:last-child,
  .socialMediaSection,
  .newsletterSection {
    margin: 10px 0;
  }

  .socialMediaSection p {
    padding-bottom: 5px;
  }

  .newsletterSection button {
    padding: 8px;
    font-size: 16px;
    margin-bottom: 10px;
  }
}
