@use '../../../app/styles/utils' as u;

@mixin white-gradient {
  background: linear-gradient(to right, rgba(18, 29, 54, 1) 0%, rgba(18, 29, 54, 0) 100%);
}

$animationSpeed: 35s;

// Animation
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-300px * 7));
  }
}

// Styling
.slider {
  background: var(--titles-color);
  height: 67px;
  overflow: hidden;
  position: relative;
  width: 100vw;

  @include u.breakpoint(medium) {
    height: 104px;
  }

  &::before,
  &::after {
    content: '';
    height: 67px;
    position: absolute;
    width: 300px;
    z-index: 2;
  }

  @include u.breakpoint(medium) {
    &::before,
    &::after {
      @include white-gradient;
      height: 104px;
    }
  }

  &::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }

  &::before {
    left: 0;
    top: 0;
  }

  .slideTrack {
    animation: scroll $animationSpeed linear infinite;
    display: flex;
    width: calc(300px * 28);
  }

  .slide {
    display: flex;
    align-items: center;
    color: var(--white-color);
    font-size: var(--fs-body);
    height: 67px;
    margin: 0 14px;

    @include u.breakpoint(medium) {
      height: 104px;
    }
  }
}
