@use '../../../app/styles/utils' as u;

@mixin dark-bg-gradient {
  background: linear-gradient(to right, rgba(7, 11, 21, 1) 0%, rgba(7, 11, 21, 0) 100%);
}

@mixin light-bg-gradient {
  background: linear-gradient(to right, rgba(18, 29, 54, 1) 0%, rgba(18, 29, 54, 0) 100%);
}

$animationSpeed: 35s;

// Animation
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-18.75rem * 7));
  }
}

.slider {
  height: 4.1875rem;
  overflow: hidden;
  position: relative;
  width: 100%;

  @include u.breakpoint(medium) {
    height: 6.5rem;
  }

  &::before,
  &::after {
    content: '';
    height: 4.1875rem;
    position: absolute;
    width: 18.75rem;
    z-index: 2;
  }

  @include u.breakpoint(medium) {
    &::before,
    &::after {
      @include dark-bg-gradient;
      height: 6.5rem;
    }
  }

  &::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }

  &::before {
    left: 0;
    top: 0;
  }

  .slideTrack {
    animation: scroll $animationSpeed linear infinite;
    display: flex;
    width: calc(18.75rem * 28);
  }

  .slide {
    display: flex;
    align-items: center;
    color: var(--white-color);
    font-size: var(--fs-body);
    height: 4.1875rem;
    margin: 0 0.875rem;

    @include u.breakpoint(medium) {
      height: 6.5rem;
    }
  }
}

.sliderLight {
  background-color: var(--section-bg-color);

  @include u.breakpoint(medium) {
    &::before,
    &::after {
      @include light-bg-gradient;
      height: 6.5rem;
    }
  }
}
