.form {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  gap: 15px;
}

.error {
  color: red;
  font-size: 0.79rem;
}

.input {
  color: white;
  font-size: 15px;
  width: 100%;
  height: 40px;
  padding: 0 10px;
  border: 1px solid var(--input-border-color);
  border-radius: 4px;
  background-color: var(--elevated-elements-dark-mode);
}

.inputLabel {
  font-size: 1.2rem;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dropdown {
  color: white;
  background-color: var(--elevated-elements-dark-mode);
  border: 1px solid var(--input-border-color);
  height: 45px;
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  font-size: 14px;
  cursor: pointer;
  margin-block: 0.5rem;
}

.dropdown option {
  background-color: var(--elevated-elements-dark-mode);
  color: white;
  padding: 8px;
  border-radius: 4px;
}

.dropdown option:hover {
  background-color: #121d36cb;
  color: white;
}
