.searchInput {
  color: white;
  background-color: var(--elevated-elements-dark-mode);
  border: 1px solid var(--input-border-color);
  height: 45px;
  width: 100%;
  padding: 8px;
  border-radius: 4px;
}

.dropdown {
  color: white;
  overflow-y: auto;
  max-height: 250px;
  width: 100%;
  background-color: var(--elevated-elements-dark-mode);
  border: 1px solid var(--input-border-color);
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.tagItem {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  cursor: pointer;

  &:hover {
    background: #121d36cb;
    color: rgb(255, 255, 255);
  }
}
