.tagsWrapper {
  gap: 15px;
  display: flex;
  align-items: center;
}

.selectedTags {
  display: flex;
  flex-wrap: wrap;

  .selectedTag {
    background: white;
    color: #212f42;
    border: 1px solid #212f42;
    padding: 4px 8px;
    border-radius: 10px;
    margin: 4px;
    display: flex;
    align-items: center;
    gap: 3px;

    .removeTag {
      cursor: pointer;
      background-color: transparent;
      border: none;
    }
  }
}
