.displayNames {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  width: 100%;

  .tableWrapper {
    width: 40%;

    table {
      width: 70vw;
      text-align: left;

      th {
        width: 400px;
      }

      td {
        padding: 5px;
      }
    }
  }
}
