.filter {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .dropdown {
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
    text-align: left;
  }
}
