.tabContainer {
  background-color: var(--bg-color);
  position: sticky;
  top: 0;
  margin-bottom: 30px;
  padding: 20px 0px;

  .tab {
    display: flex;
    align-items: center;
    width: 200px;
    border-bottom: 1px solid white;
    padding-bottom: 4px;
    gap: 4px;

    .dividerVertical {
      width: 1px;
      height: 20px;
      background-color: white;
    }

    .tabLinks {
      background-color: transparent;
      color: white;
      border: none;
      cursor: pointer;
    }
  }
}
