.containerMargin {
  margin-top: 50px;
}

.blogBtn {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  color: var(--black-color);
  background-color: #ec673d;
  border: 1px solid var(--black-color);
  padding: 20px 30px;
  margin-top: 120px;
}
