.backgroundWrapper {
  width: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blogImg {
  width: 80vw;
  max-height: 34.5rem;
  /* 552px */
  object-fit: cover;
  margin-top: clamp(6rem, 10vw, 8.75rem);
  /* clamp(min, preferred, max) */
}

.layoutContainer {
  margin-top: clamp(2rem, 5vw, 3.125rem);
  /* clamp(min, preferred, max) */
  display: flex;
  width: 80vw;
  justify-content: space-between;

  .customSocialMediaIcons {
    display: flex;
    gap: 1rem;
    /* 16px */
  }

  .headingWrapper {
    display: flex;
    flex-direction: column;
    color: #121d36;

    .postInfo {
      display: flex;
      flex-direction: row;
      margin: clamp(1rem, 3vw, 1.5rem) 0 clamp(1.5rem, 5vw, 2.3125rem) 0;
      /* clamp(min, preferred, max) */
      font-weight: 500;
      font-size: 1.75rem;
      /* 28px */
      color: #475569;

      p {
        padding: 0 clamp(0.5rem, 2vw, 0.625rem) 0 0;
        /* clamp(min, preferred, max) */
      }
    }

    .paragraphWrapper {
      width: 50rem;
      /* 800px */
      display: flex;
      flex-direction: column;
      gap: clamp(2rem, 5vw, 3.125rem);
      /* clamp(min, preferred, max) */
      color: #475569;
      font-size: 1rem;
      /* 16px */
      line-height: 1.5rem;
      /* 24px */
      margin-bottom: clamp(4rem, 8vw, 5rem);
    }
  }

  .sideBar {
    max-width: 25.0625rem;
    /* 401px */

    .tags {
      display: flex;
      flex-wrap: wrap;
      gap: 0.75rem;
      /* 12px */
      max-width: 25rem;
      /* 400px */
      margin: clamp(1rem, 2vw, 1rem) 0 clamp(2rem, 4vw, 2rem) 0;
      /* clamp(min, preferred, max) */

      .tag {
        width: 4.5rem;
        /* 72px */
        height: 2rem;
        /* 32px */
        border-radius: 1.25rem;
        /* 20px */
        border: 0.0625rem solid #94a3b8;
        /* 1px solid */
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f8fafc;
        color: #475569;
      }
    }

    hr {
      margin: clamp(0.5rem, 2vw, 0.9375rem) 0 0 0;
      /* clamp(min, preferred, max) */
      color: #475569;
    }

    .buttonWrapper {
      display: flex;
      justify-content: flex-end;
      text-decoration: underline;
      color: var(--main-button);
    }
  }
}

.cardSection {
  margin-top: 5rem;
  width: 80vw;

  .cardsContainer {
    margin-top: clamp(1rem, 3vw, 1.75rem);
    /* clamp(min, preferred, max) */
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}

.buttonWrapper {
  width: 80%;
  display: flex;
  justify-content: flex-end;
  margin: 2.5rem 0 8.75rem 0;
}
