.darkIndividualBlog {
  background: var(--section-bg-color);
}

.lightIndividualBlog {
  background: var(--primary-light-mode);
}

.darkTextBlog {
  p,
  h2 {
    color: var(--primary-light-mode);
  }
}

.backgroundWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blogImg {
  width: 80vw;
  max-height: 34.5rem;
  object-fit: cover;
  margin-top: clamp(6rem, 10vw, 8.75rem);
}

.layoutContainer {
  margin-top: clamp(2rem, 5vw, 3.125rem);
  display: flex;
  width: 80vw;
  justify-content: space-between;

  .customSocialMediaIcons {
    display: flex;
    gap: 1rem;
  }

  .headingWrapper {
    display: flex;
    flex-direction: column;
    color: var(--title-dark-mode);

    .postInfo {
      display: flex;
      flex-direction: row;
      margin: clamp(1rem, 3vw, 1.5rem) 0 clamp(1.5rem, 5vw, 2.3125rem) 0;
      font-weight: 500;
      font-size: 1.75rem;
      color: var(--text-light-mode);

      p {
        padding: 0 clamp(0.5rem, 2vw, 0.625rem) 0 0;
      }
    }

    .paragraphWrapper {
      max-width: 50rem;
      display: flex;
      flex-direction: column;
      gap: clamp(2rem, 5vw, 3.125rem);
      color: var(--text-light-mode);
      font-size: var(--fs-button);
      line-height: var(--lh-card-text);
      margin-bottom: clamp(4rem, 8vw, 5rem);
    }

    .darkParagraph {
      color: var(--primary-light-mode);
    }
  }

  .sideBar {
    max-width: 25.0625rem;

    .tags {
      display: flex;
      flex-wrap: wrap;
      gap: 0.75rem;
      max-width: 25rem;
      margin: clamp(1rem, 2vw, 1rem) 0 clamp(2rem, 4vw, 2rem) 0;

      .tag {
        width: 4.5rem;
        height: 2rem;
        border-radius: 1.25rem;
        border: 0.0625rem solid hsl(215, 20%, 65%);
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--text-color);
        color: var(--hero-text-dark-color);
      }

      .darkTag {
        background: var(--primary-light-mode);
      }
    }

    hr {
      margin: clamp(0.5rem, 2vw, 0.9375rem) 0 0 0;
      color: var(--text-light-mode);
    }

    .buttonWrapper {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      text-decoration: underline;
      color: var(--main-button);
    }

    .darkButtonWrapper {
      color: var(--primary-light-mode);
    }
  }
}

.cardSection {
  margin-top: 5rem;
  width: 80vw;

  .cardsContainer {
    margin-top: clamp(1rem, 3vw, 1.75rem);
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}

.buttonWrapper {
  width: 80%;
  display: flex;
  justify-content: flex-end;
  margin: 2.5rem 0 8.75rem 0;
}
