.popularPost {
  padding: 1.875rem 1rem 2.25rem;

  &:nth-child(2n) {
    background: var(--elevated-elements-light-mode);
  }

  .popularInfo {
    font-weight: 400;
    font-size: var(--fs-tag);
    line-height: var(--lh-tag);
    color: var(--text-light-mode);
    margin-bottom: clamp(0.5rem, 2vw, 1rem);
  }

  .darkPopularInfo {
    color: var(--text-dark-mode);
  }

  .popularDesc {
    font-size: var(--fs-title);
    font-weight: 500;
    line-height: var(--lh-title);
    color: var(--text-light-mode);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .darkPopularDesc {
    color: var(--primary-light-mode);
  }
}

.darkPopular {
  &:nth-child(2n) {
    background: var(--elevated-elements-dark-mode);
  }
}
