.suggestedContent {
  width: 25.75rem;
  /* 412px */
  height: 28.69rem;
  /* 459px */
  display: flex;
  flex-direction: column;
  background-color: #f8fafc;
  box-shadow: 0rem 0.3125rem 1rem 0rem #00000026;
  /* 0px 5px 16px 0px */
  border-radius: 0.75rem;
  /* 12px */
  align-items: center;
}

.imageWrapper {
  height: 11.5625rem;
  /* 185px */
  width: 100%;

  .imageStyle {
    width: 100%;
    height: 100%;
    border-top-left-radius: 0.75rem;
    /* 12px */
    border-top-right-radius: 0.75rem;
    /* 12px */
    object-fit: cover;
  }
}

.textContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  padding: 1.5rem;
  /* 24px */
  flex-grow: 1;

  .cardTitle {
    margin-bottom: clamp(0.5rem, 2vw, 1rem);
    /* clamp(min, preferred, max) */
    font-weight: 500;
    font-size: 1.25rem;
    /* 20px */
    line-height: 1.875rem;
    /* 30px */
  }

  .cardDesc {
    font-size: 1.125rem;
    /* 18px */
    font-weight: 400;
    line-height: 1.5rem;
    /* 24px */
    text-align: left;
    color: #475569;
    /* clamp(min, preferred, max) */
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-grow: 1;
  }

  .postInfo {
    padding-top: clamp(0.5rem, 2vw, 1rem);
    color: #707a88;
    font-size: 0.875rem;
    /* 14px */
    font-weight: 400;
    line-height: 1rem;
    /* 16px */

    p {
      display: flex;

      img {
        margin: 0 6px;
      }
    }
  }

  .postLink {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-top: 1.5rem;
    /* 24px */
    font-size: 0.875rem;
    /* 14px */
    font-weight: 700;
    line-height: 1.5rem;
    /* 24px */
    text-decoration: underline;
  }
}
